
/*<------------------ Basic ------------------->*/

#main-header {
  border: 1px solid black;
}

#main-nav ul li {
    list-style-type: none;
    display: inline-flex;
    flex-grow: 1;
    margin-left: 5%;
    margin-right: 5%
}

.active {
  color: yellow;
}

.disabled {
  color: grey;
}

a > .disabled {
  color: purple;
}
